h3.question{
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    text-align: center;
    font-weight: 100 ;
}

.editor-container{
    width: 80%;
    height: 540px;
    margin: 20px auto;
    position: relative;
}

#editor{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    font-size: 20px;
}

.title-container{
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
  }
  
  .dd-container{
    display: flex;
    gap: 15px;
    
  }
  
  .dropdown{
    padding: 10px 15px;
    height: auto;
    outline:  none;
    font-size: 15px;
  }
.wrapper{
    display:flex;
    gap: 15px;
    width: 80%;
}
.wrapper-container{
    display: flex;
    justify-content: center;

}
textarea{
    padding: 10px 15px;
    display: block;
}
button {
    padding: 10px 30px;
    margin: 15px 0px;
    color: white;
    outline: none;
    background-color: rgb(255, 0, 85);
    border-radius: 5px;
}